@import url('https://fonts.googleapis.com/css2?family=Abel&family=Antic+Didone&family=Quicksand:wght@300..700&display=swap');

:root {
    --color-link: #181818;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    min-height: 100dvh;
    width: 100%;
    background-color: black;
    color: azure;
    font-family: "Antic Didone", serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;  
}

#rolagem-contato {
    scroll-behavior: smooth;
}

.container-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    background-color: rgb(83, 83, 83);
    min-height: 100dvh;
    background-image: url("../img/img-fundo/fundo-inicio.jpg");
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.header-home {
    background-color: #00000078;
    color: #fff;
    padding-left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 0 .7rem 0;
    position: fixed;
}

.title-home {
    font-size: 1.8rem;
    padding: 0 5rem;
    color: white;
    font: bold;
    text-decoration: none;
}

.ul-link {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 5rem;
    gap: 2rem;
}

.a-link {
    text-decoration: none;
    color: #fff;
    background-color: var(--color-link);
    padding: .5rem 1rem;
    border-radius: .5em;
}

.a-link:hover {
    background-color: #0e0e0e;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition-duration: .6s;
}


.container-inicio__inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
}

.inicio__h2 {
    font-size: 1.1rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.container-motivo {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    align-items: center;
    background-color: rgba(70, 70, 70, 0.5);
    width: 100%;
}

.motivo-h2 {
    font-size: 1.5rem;
    padding: 6rem;
}

.img-ilustrativo__sebrae {
    width: 30rem;
    margin: 3rem 0 7rem 0;
}

.paragrafo-motivo {
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
}

.botao-motivosebrae:hover{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    scale: 1.03;
    transition-duration: .5s;
}

.container-loja {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    align-items: center;
    background-color: rgba(70, 70, 70, 0.5);
    background-color: rgba(123, 123, 123, 0.5);
    width: 100%;
}

.loja-h2 {
    padding: 6rem;
    font-size: 1.5rem;
}

.container-loja__produtos {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    min-height: max-content;
}

.produtos {
    display: flex;
    width: 15rem;
    min-height: 15rem;
    /* height: 13rem; */
    flex-direction: column;
    background-color: aliceblue;
    color: #1e1e1e;
    padding: 1rem;
    border-radius: .5rem;
    justify-content: start;
}

.title-produtos {
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5rem;
}

.produtos-list {
    padding: 0;
    text-align: start;
    flex-grow: 1;
}

.list {
    padding: .3rem;
    margin-left: 1rem;
    font-size: .9rem;
}

.btn-produtos {
    color: #fff;
    background-color: #181818;
    border-radius:.5rem;
    padding:.5rem 1rem;
    text-decoration: none;
}

.container-contato {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(70, 70, 70, 0.5);
    width: 100%;
}

input, label {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

form{
    width: 20rem;
    background-color: #ecf0f1;
    border-radius: .5rem;
    box-shadow: 3px 3px 10px #333;
}

fieldset {
    border: none;
    padding: 1rem;
}

legend {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    color: #3b3b3b;
    margin: 0;
}

label {
    margin-bottom:.5rem;
    color: #000000;
}

input {
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    border: 1px solid #bbb;
}

select {
    padding:.5rem;
    border-radius: .5rem;
    margin: .5rem 0;
    border: 1px solid #3b3b3b;
}

.all-btn{
    color: #fff;
    background-color: var(--color-link);
    padding: .5rem 1rem;
    border-radius:.5rem;
    text-decoration: none;
    cursor: pointer;
}

.all-btn:hover {
    background-color: #0e0e0e;
    scale: 1.03;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition-duration: .6s;
}

.btn-submit {
    margin-top: 1rem;
}

.footer-home {
    background-color: #00000078;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    padding: 1rem;
}

textarea {
    resize: none;
    padding: .5rem;
    border-radius: .5rem;

}

input, textarea {
    outline: none;
    border-bottom: 2px solid rgba(31, 31, 31, 0.589);
}


input:invalid:focus, textarea:invalid:focus {
    border-bottom: 2px solid #ff0000;
    
}

input:valid:focus, textarea:valid:focus {
    border-bottom: 2px solid #00ff00;
}

input:focus, textarea:focus {
    border-bottom: 2px solid #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .header-home {
        justify-content: space-evenly;
    }
    .ul-link {
        gap: .5rem;
        padding: 0;
    }

    .title-home {
        font-size: 1.5rem;
        padding: .5rem;
    }

    .img-ilustrativo__sebrae {
        width: 80%;
    }

    .motivo-h2 {
        padding: 6rem .5rem;
    }

    .loja-h2 {
        padding: 4rem 0 2rem;
    }

    .container-loja__produtos {
        flex-direction: column;
        width: 100%;
        gap: 3rem;
        align-items: center;
    }

    fieldset {
        padding: 1em;
    }

    input, textarea {
        width: 100%;
    }

    textarea {
        width: 90%;
    }
    
}
